<a href="https://colab.research.google.com/github/Konvet/Fundamentals-of-analytics/blob/main/%D0%98%D1%82%D0%BE%D0%B3%D0%BE%D0%B2%D1%8B%D0%B9_%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_sql('select name, population from city', 'postgresql://netology:NetoSQL2019@84.201.177.166:19001/world-db')
df1

                name  population
0              Kabul     1780000
1           Qandahar      237500
2              Herat      186800
3     Mazar-e-Sharif      127800
4          Amsterdam      731200
...              ...         ...
4074      Khan Yunis      123175
4075          Hebron      119401
4076        Jabaliya      113901
4077          Nablus      100231
4078           Rafah       92020

[4079 rows x 2 columns]

In [ ]:
df2 = pd.read_csv('Планирование отпусков.csv')
df2

,Отметка времени,Страна,Город,Дата начала отпуска,Дата окончания отпуска,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Общая оценка отпуска,Итоговая стоимость,Отклонение итоговой стоимости от плана,Стоимость 1 дня отпуска,Cтоимость отеля за 1 день,Рейтинг стоимости отеля за 1 день,Стоимость трат на отдыхе за 1 день,Рейтинг по стоимости трат на отдыхе за 1 день,Cities
0,02.04.2025 15:34:05,Турция,Стамбул,02.02.2023,16.02.2023,140000,34567,71000,32567,5,138134,1866,"9866,71","5071,43","5,00","2326,21","9,00",Istanbul
1,02.04.2025 15:47:29,Хорватия,Загреб,22.07.2023,31.07.2023,180000,23456,52500,69568,5,145524,34476,"16169,33","5833,33","4,00","7729,78","1,00",Zagreb
2,02.04.2025 15:36:53,Россия,Калининград,02.08.2023,10.08.2023,40000,5345,22500,21089,4,48934,-8934,"6116,75","2812,50","10,00","2636,13","8,00",Kaliningrad
3,02.04.2025 15:38:28,Россия,Москва,05.11.2023,13.11.2023,60000,5234,25000,27094,5,57328,2672,"7166,00","3125,00","7,00","3386,75","6,00",Moscow
4,02.04.2025 15:52:57,Финляндия,Хельсинки,31.01.2024,10.02.2024,160000,20349,85000,57234,3,162583,-2583,"16258,30","8500,00","1,00","5723,40","2,00",Helsinki [Helsingfors]
5,02.04.2025 15:43:43,Россия,Ярославль,03.05.2024,10.05.2024,40000,6798,15000,11490,5,33288,6712,"4755,43","2142,86","12,00","1641,43","12,00",Jaroslavl
6,02.04.2025 15:40:13,Россия,Выборг,06.07.2024,13.07.2024,40000,731,21000,16038,5,37769,2231,"5395,57","3000,00","9,00","2291,14","10,00",Vyborg
7,02.04.2025 15:41:38,Россия,Казань,17.11.2024,25.11.2024,80000,10067,24500,27948,5,62515,17485,"7814,38","3062,50","8,00","3493,50","5,00",Kazan
8,02.04.2025 15:42:47,Россия,Петрозаводск,11.01.2025,25.01.2025,55000,2489,14700,15091,3,32280,22720,"2305,71","1050,00","13,00","1077,93","13,00",Petrozavodsk
9,02.04.2025 15:54:24,Грузия,Тбилиси,01.03.2025,15.03.2025,130000,28005,62200,39295,1,129500,500,"9250,00","4442,86","6,00","2806,79","7,00",Tbilisi
10,02.04.2025 15:57:33,Литва,Вильнюс,13.04.2023,20.04.2023,130000,24056,48800,36920,2,109776,20224,"15682,29","6971,43","2,00","5274,29","3,00",Vilnius
11,02.04.2025 15:59:00,Сербия,Белград,04.06.2024,11.06.2024,90000,26000,42900,34259,2,103159,-13159,"14737,00","6128,57","3,00","4894,14","4,00",Belgrade
12,02.04.2025 16:01:13,Россия,Сортавала,15.10.2024,22.10.2024,40000,1647,17000,14038,4,32685,7315,"4669,29","2428,57","11,00","2005,43","11,00",Sortavala

In [ ]:
df3 = df1.merge(
    df2,
    left_on = 'name',
    right_on = 'Cities',
    how = 'inner'
    )
df3

,name,population,Отметка времени,Страна,Город,Дата начала отпуска,Дата окончания отпуска,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Общая оценка отпуска,Итоговая стоимость,Отклонение итоговой стоимости от плана,Стоимость 1 дня отпуска,Cтоимость отеля за 1 день,Рейтинг стоимости отеля за 1 день,Стоимость трат на отдыхе за 1 день,Рейтинг по стоимости трат на отдыхе за 1 день,Cities
0,Tbilisi,1235200,02.04.2025 15:54:24,Грузия,Тбилиси,01.03.2025,15.03.2025,130000,28005,62200,39295,1,129500,500,"9250,00","4442,86","6,00","2806,79","7,00",Tbilisi
1,Zagreb,706770,02.04.2025 15:47:29,Хорватия,Загреб,22.07.2023,31.07.2023,180000,23456,52500,69568,5,145524,34476,"16169,33","5833,33","4,00","7729,78","1,00",Zagreb
2,Vilnius,577969,02.04.2025 15:57:33,Литва,Вильнюс,13.04.2023,20.04.2023,130000,24056,48800,36920,2,109776,20224,"15682,29","6971,43","2,00","5274,29","3,00",Vilnius
3,Helsinki [Helsingfors],555474,02.04.2025 15:52:57,Финляндия,Хельсинки,31.01.2024,10.02.2024,160000,20349,85000,57234,3,162583,-2583,"16258,30","8500,00","1,00","5723,40","2,00",Helsinki [Helsingfors]
4,Istanbul,8787958,02.04.2025 15:34:05,Турция,Стамбул,02.02.2023,16.02.2023,140000,34567,71000,32567,5,138134,1866,"9866,71","5071,43","5,00","2326,21","9,00",Istanbul
5,Moscow,8389200,02.04.2025 15:38:28,Россия,Москва,05.11.2023,13.11.2023,60000,5234,25000,27094,5,57328,2672,"7166,00","3125,00","7,00","3386,75","6,00",Moscow
6,Kazan,1101000,02.04.2025 15:41:38,Россия,Казань,17.11.2024,25.11.2024,80000,10067,24500,27948,5,62515,17485,"7814,38","3062,50","8,00","3493,50","5,00",Kazan
7,Jaroslavl,616700,02.04.2025 15:43:43,Россия,Ярославль,03.05.2024,10.05.2024,40000,6798,15000,11490,5,33288,6712,"4755,43","2142,86","12,00","1641,43","12,00",Jaroslavl
8,Kaliningrad,424400,02.04.2025 15:36:53,Россия,Калининград,02.08.2023,10.08.2023,40000,5345,22500,21089,4,48934,-8934,"6116,75","2812,50","10,00","2636,13","8,00",Kaliningrad

In [ ]:
pop = df3['population'].mean()
pop = round(pop)
pop

2488297